In [1]:
import csv
import pandas as pd
import numpy as np

In [7]:
pilotf_df = pd.read_csv('female_answers_exp1b.csv')
pilotm_df = pd.read_csv('male_answers_exp1b.csv')

In [8]:

import random
import string


# Function to generate a random string
def generate_random_string(length=8):
    return ''.join(random.choices(string.ascii_letters + string.digits, k=length))

# Generate random strings for unique values
unique_values = pilotm_df['workerId'].unique()
random_mapping = {val: generate_random_string() for val in unique_values}

# Replace values in the column with generated strings
pilotm_df['workerId'] = pilotm_df['workerId'].map(random_mapping)

pilotm_df.head()

   workerId  comment  answer1  correct
0  y85qbNJQ       21        1        0
1  y85qbNJQ       81       -1        1
2  y85qbNJQ       79       -1        1
3  y85qbNJQ      105        1        1
4  y85qbNJQ        5       -1        1

In [9]:
pilotm_df.to_csv('pilot_males.csv')

In [15]:
df1 = pd.read_csv('datat1.csv')
df2 = pd.read_csv('datat2.csv')
df3 = pd.read_csv('data3.csv')

In [16]:
df = pd.concat([df1,df2,df3])
# df = pd.concat(df,df3)

In [19]:
print (len(df))

6089